body {
            background-color: bisque;
        }
        
        h1 {
            color: white;
            background-color: black;
            font-size: 2em;
            text-align: center;
            line-height: 40px;
        }
        
        h2,
        ul {
            text-align: center;
        }
        
        li {
            list-style: none;
            display: inline-block;
            padding: 5px;
            border: 1px solid black;
        }
        
        form {
            text-align: center;
        }
        
        label {
            margin-right: 5px;
            width: 75px;
            display: inline-block;
        }
        
        .formInput {
            margin: 10px;
            font-size: 15px;
        }
        input{
            margin: 5px;
        }
        
        button {
            margin: 5px;
            width: 82px;
        }
        
        a {
            margin-right: 5px;
        }
        
        footer {
            text-align: center;
        }
        a:hover{
            font-size: 1.4em;
        }