body {
	background-color: bisque;
}

h1 {
	color: white;
	background-color: black;
	font-size: 2em;
	text-align: center;
	line-height: 40px;
}

h2, ul {
	text-align: center;
}

li {
	list-style: none;
	display: inline-block;
	padding: 5px;
	border: 1px solid black;
}

a:hover {
	font-size: 1.4em;
	/*            background-color: pink;*/
}

a {
	margin-right: 5px;
}

footer {
	text-align: center;
}